*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(25deg, rgb(0, 217, 255),#d702b7f0);
    padding: 10px;
}
nav{
    background: #333;
    overflow: hidden;
    display: flex;
        
}
nav a{
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}
nav a:hover{
    text-decoration: underline;
}
nav a.app:hover{
    text-decoration:wavy;
}
.todo-app{
    width: 100%;
    background: white;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color:  #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(128, 128, 128, 0.438);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    background: transparent;
    outline: none; 
    border: none;
    padding: 10px;
    font-weight: 14px;
}
button{
    background: rgb(0, 174, 255);
    border: none;
    outline: none;
    padding: 16px 50px;
    color: white;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
}
button:hover{
    background: #d702b7f0;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
ul li::before{
    content: ' ';
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url(unchecked.png);
    background-size:cover;
    background-position: center;
    top:8px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(checked.jpg);
    border-radius: 50%;
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    
    background-color: white;
}
ul li span:hover{
    border-radius: 50%;
    background: rgb(203, 203, 203);
}
